/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;

/*    text-transform: uppercase;
*/    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 15px;
    font-size: 17px;
    line-height: 1.6em;
}

p.lead {
  font-weight: 600;
}

.bio {
  text-align: left;
}

.bio2 {
  text-align: right;
}

.bio_link {
  text-decoration: none;
  color: inherit;
}

.bio_link:hover {
  color: inherit;
}

.quote {
  font-style: italic;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

li.officer {
  font-size: 5px;
}

li.officer:hover {
  font-size: 20px;
}

.light {
    font-weight: 400;
}

/* main navbar */

.navbar {1
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 1em;
}

/*-- title logo --*/
.navbar-brand h1{
  color: #FFF;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 3px;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}


.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  color: #fff;
}

.dropdown .dropdown-menu {
  visibility: hidden;
  background-color: rgba(255, 255, 255, .6);
  /* Override bootstrap default */
  display: block;
  padding: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
   visibility: visible;
   z-index: 1;
}

.cal, .cal:visited {
    background: #223542;
    background-image: -webkit-linear-gradient(top, #223542, #879094);
    background-image: -moz-linear-gradient(top, #223542, #879094);
    background-image: -ms-linear-gradient(top, #223542, #879094);
    background-image: -o-linear-gradient(top, #223542, #879094);
    background-image: linear-gradient(to bottom, #223542, #879094);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100px;
}

.cal:hover {
    background: #515354;
    background-image: -webkit-linear-gradient(top, #515354, #b3b3b3);
    background-image: -moz-linear-gradient(top, #515354, #b3b3b3);
    background-image: -ms-linear-gradient(top, #515354, #b3b3b3);
    background-image: -o-linear-gradient(top, #515354, #b3b3b3);
    background-image: linear-gradient(to bottom, #515354, #b3b3b3);
    text-decoration: none;
    color: white;
}

.navbar-custom ul.nav ul.dropdown-menu {
    left: 0;
    border-radius: 0;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 22px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: #444;
  background-color: rgba(255, 255, 255, .2);
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: white;
  background-color: black;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a:hover {
  color: white;
  background-color: #444;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

/* readme side navbar */
.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 0;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.reveal {
	opacity: .50;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin-top: 90px;
	position: fixed;
	overflow: hidden;
	width: 35px;
	height: 60px;
	overflow: auto;
	right: calc(100% - 70px);
	top: 20px;
}

.top, .middle{
	position: absolute;
	width: 62px;
	height: 6px;
	background-color: #C21734;
	transition: all 350ms ease-in-out;
	top: 20px;
}

.middle {
	top: 35px;
}

#menu {
	position: fixed;
	right: calc(100% - 292px);
	top: 10px;
	display: none;
  margin-top: 200px;
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 140px;
	width: 170px;
	text-align: right;
  background-color: white;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: none;
	list-style: none;
	color: #C21734;
	transition: all 150ms ease;
  margin-left: 7px;
  padding-right: 10px;
  font-weight: bold;
}

#menu a li:hover {
	color: #272940;
	padding-right: 3px;
}

#menu a li:hover:after {
}

#menu a {
	text-decoration: none;
}

.dropbtn {
  text-decoration: none!important;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border: none;
  list-style: none;
  color: #C21734;
  font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
  font-weight: bold;
}

.sidedropdown {
    position: relative;
    display: inline-block;
}

.sidedropdown-content {
  right: auto;
  left: 100%;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: white;
  border-left: 1px solid #272940;
}

.sidedropdown-content a {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #C21734;
  text-transform: uppercase;
  display: block;
  text-align: left;
  right: calc(100% - 292px);
  font-weight: bold;
}

.sidedropdown-content a:hover {
  color: #272940;
  padding-right: 3px;
}

.sidedropdown:hover .sidedropdown-content {
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidedropdown:hover .dropbtn {
  color: #272940;
}

.rotate {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	top: 20px;
	background-color: #272940;
	height: 6px;
}

.rotate-back {
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	top: 20px;
	background-color: #272940;
	height: 6px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.content {
    transition: margin-left .5s;
}

/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
  z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 110px;
    padding-bottom: 110px;
  display:block;
    position:relative;
    z-index:120;
}

.officer-section {
/*    padding-top: 10px;
*/    padding-bottom: 110px;
  display:block;
    position:relative;
    z-index:120;
}

.section-heading h2 {
  font-size: 32px;
}

.section-heading i {
  margin-bottom: 20px;
}

.heading {
    padding-top: 30px;
}

/* --- section bg var --- */

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f8f8f8;
}


.bg-dark {
  background: #575757;
}

/* --- section color var --- */

.text-light {
  color: #fff;
}



/* ===========================
--- Intro
============================ */
.officer_intro {
    width: 100%;
    position: relative;
    background: url(../img/academic_background.jpg) no-repeat top center;
}

#intro.officer_intro {
  padding: 20% 0 10% 0;
}

.officer_intro .slogan {
  text-align: center;

}

.officer_intro .page-scroll {
  text-align: center;
}

.officer_intro .slogan h2 {
  color: white;
  text-shadow: none;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro {
    width:100%;
    position:relative;

  background: url(../img/background.jpg) no-repeat top center;
  background-size: cover;
  opacity: 0.95;
  height: 100% ;
}

#intro.intro {
  padding: 19% 0 0 0;
}

.intro .slogan {
  text-align: center;

}

.intro .page-scroll {
  text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
  color: #FFF;
  text-shadow: none;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-style: normal;
  font-variant: normal;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
/*  text-transform: uppercase;
*/  border-width: 0px;
  border-color: #000;
  border-style: none;
  text-shadow: -2px 1px 3px #000;
}

.intro .slogan h4 {
  color: #ccc;
  font-size: 20px;
  font-weight: 200;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  text-shadow: -1px 1px 1px #000;
}

.header {
  padding: 5px;
  padding-left: 10px;
  text-align: center;
  height: 50px;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #e8e8e8;
  position: relative;
  -webkit-transition: 0.4s; /* Safari */
  transition: 0.4s;
}

.header:hover {
  cursor: pointer;
  background-color: #d6d4d4;
}

.intro .slogan h5 {
  color: #FFF;
  font-size: 30px;
  font-weight: 100;
/*  font-family: monaco, Consolas, "Lucida Console", monospace;
*/  font-style: normal;
  font-variant: normal;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
/*  text-transform: uppercase;
*/  border-width: 0px;
  border-color: #000;
  border-style: none;
  text-shadow: -1px 0 1px #000;
}

.tab { margin-left: 40px; }

.tab-larger {margin-left: 30px;}
.blinking-cursor {
/*  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;*/
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: white;

  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: white;

  }
}

/* ===========================
--- Footer
============================ */

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer p {
  font-family: 'Lato',sans-serif;
  font-size: 14px;

  color: #EEE;
}

.content {
    padding-top: 10%;
    width: 70%;
    margin: 0 auto;
    display: block;
}

.content-less {
    padding-top: 0%;
    width: 70%;
    margin: 0 auto;
    display: block;
}

.calendar {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}

/* ==========================
Parallax
============================= */

#parallax1{
  background-image: url(../img/parallax/1.jpg);
}

#parallax1:after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
}


#parallax2{
  background-image: url(../img/parallax/2.jpg);

}

#parallax2:after  {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
}


/* ===========================
--- Elements
============================ */

.btn {
  border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-join {
    font-weight: 200;
    margin-top: 42px;
    padding: 7px 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 32px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-join:hover,
.btn-join:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll{
  padding-bottom: 10px;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


#text {
    color: #fff;
    background: #ffcc00;
}

#map {
  height: 500px;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


/* Media queries */
@media (max-width: 990px) {
    .navbar {
      padding: 20px 0;
      border-bottom: 0;
      letter-spacing: 1px;
      background: 0 0;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>ul {
        width: 50%;
    }
    .collapse.in{
  		display:block !important;
	}

}

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }


    .intro-text {
        font-size: 25px;
    }


}

@media screen and (max-width:630px) {

  .intro .slogan h2{
    font-size: 45px;
  }
}

@media screen and (max-width: 480px){
  .intro .slogan h2{
      font-size: 38px;
  }
}

@media screen and (max-width: 415px){
  .intro .slogan h2{
      font-size: 34px;
  }
}

@media screen and (max-width: 320px){
  .intro .slogan h2{
      font-size: 30px;
  }
}

.show-mobile {
  display: none;
}

.hide-mobile {
  display: block;
}

/*-- Officer style --*/
.boxed-grey {
  background: #f9f9f9;
  padding: 20px;
}

.team h5 {
  margin-bottom: 10px;
}

.team p.subtitle {
  margin-bottom: 10px;
}

.avatar {
  margin-bottom: 10px;
}

.team-social {
  margin-left: 0;
  padding-left: 0;

}

.team-social {
  text-align: center;
}

.team-social li{
    display: inline-block;
  margin:0 !important;
  padding:0;
}


.team-social a{
  margin:0;
  padding:0;
    display: block;
  width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
  color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
  text-align: center;
  margin:0;
  padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}



@media screen and (max-width:768px) {

  .team.boxed-grey {
    margin-bottom: 30px;
  }

  .boxed-grey {
    margin-bottom: 30px;
  }

  .show-mobile {
    display: inline;
  }

  .hide-mobile {
    display: none;
  }
}


@media (max-width:480px) {

  .navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
  }

  .navbar.navbar-custom.navbar-fixed-top {
    margin-bottom: 30px;
  }

  .tp-banner-container {
    padding-top:40px;
  }

  .page-scroll a.btn-circle {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding: 7px 0;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
  }

}

button.accordion {
    background-color: #eee;
    color: #666;
    cursor: pointer;
    width: 90%;
    height: 50px;
    border-style: ridge;
    text-align: center;
    outline: none;
    font-size: 20px;
    border-width: 5px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #d9d9d9;
    border-style: inset;
    border-width: 5px;
}

div.panel {
    padding: 0 20px;
    display: none;
    background-color: white;
}

div.panel.show {
    display: block !important;
}

.application-link {
  color: #ccc;
  margin-top: 50px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  text-shadow: -1px 0 1px #000;
  font-size: 1.3em;
}

.application-link button {
  background: rgba(125,0,49,0.75);;
  color: #fff;
  opacity: 0.9;

  padding: 7px 30px;
  border-radius: 5px;
  /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.application-link button:hover {
  background: rgba(125,0,49,0.99);;
}

.none {
  display: none;
}

.years {
  margin-top: -2%;
}
