---
layout: default
permalink: officers.html
---
<script>
$(".navbar-custom").css('background-color', '#272940');
</script>

<style>
ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}
</style>
{% assign data_jsons = "officers1516|officers1617|officers1718" | split: "|" %}
<br>
<section class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    {% for json in data_jsons %}
                      {% assign data = site.data[json] %}
                      <li><a href="#{{ forloop.index0 }}" data-date={{ data.date }} class={{ data.current }}>{{data.year}}</a></li>
                    {% endfor %}
                    <li><a href="#{{ data_jsons.size }}" data-date="01/09/2018">2018-2019</a></li>
                </ol>
                <span class="filling-line" aria-hidden="true"></span>
            </div>
            <!-- .events -->
        </div>
        <!-- .events-wrapper -->
        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul>
        <!-- .cd-timeline-navigation -->
    </div>
    <!-- </div> -->
    <!-- .timeline -->
    <div class="events-content">
        <ol>
          <!-- generate the team pages using the data jsons -->
          {% for json in data_jsons %}
          {% assign data = site.data[json] %}
          <li data-date={{ data.date }} class={{ data.current }}>
              <section id="officers" class="officer-section text-center">
                <div class="heading-about">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="wow bounceInDown" data-wow-delay="0.4s">
                              <div class="section-heading">
                                {% if data.current == "selected" %}
                                  <h2>Current Officers</h2>
                                  <p>These brave souls are the ACSU officers for {{ data.year }}.
                                  <br/>Feel free to <a id="acsuemail" data-email="acsu" href="mailto:">email</a> or contact us through our <a href="https://www.facebook.com/CornellACSU/" target="_blank">Facebook</a> page.</p>
                                {% else %}
                                  <h2>{{ data.year }}</h2>
                                  <p>These brave souls were the ACSU officers for {{ data.year }}.</p>
                                {% endif %}
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                      <div class="col-lg-2 col-lg-offset-5">
                          <hr class="marginbot-50">
                      </div>
                  </div>
                  <div class="container">
                  <!-- create a row for every 4 officers  -->
                  {% assign rows = data.officers.size | divided_by: 4.0 | ceil %}
                  {% for i in (1..rows) %}
                    {% assign offset = forloop.index0 | times: 4 %}
                    <div class="row">
                      {% for officer in data.officers limit:4 offset:offset %}
                        <div class="col-md-3">
                          <div class="wow bounceInUp" data-wow-delay="0.2s">
                            <div class="team boxed-grey">
                              <div class="inner">
                                <h5>{{ officer.name }} '{{ officer.year }}</h5>
                                <p class="subtitle">{{ officer.position }}</p>
                                <div class="avatar"><img src="img/team/{{ officer.img }}" alt="" width=500 class="img-responsive img-circle" alt="" width=500 class="img-responsive img-circle" /></div>
                                {% if officer.email %}
                                <a id="email{{ officer.email }}" data-email="{{ officer.email }}" href="mailto:"><img src="img/icons/email.png" onmouseover="this.src='img/icons/email-2.png'" onmouseout="this.src='img/icons/email.png'" width="38" alt=""/></a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <br>
                    {% if forloop.last == true %}
                      <script>
                        var emails = document.querySelectorAll('[data-email]');
                        emails.forEach(function(id) {
                            $(id).on('mouseover', function(){
                              var href = $(this).attr('href')
                              if (href == 'mailto:') $(this).attr('href', href + id.dataset.email + "@cornell.edu");
                            });
                        });
                      </script>
                    {% endif %}
                  {% endfor %}
                </div>
              </section>
          </li>
          <script>

          </script>
          {% endfor %}
          <li data-date="01/09/2018">
              <section id="officers" class="officer-section text-center">
                  <div class="heading-about">
                      <div class="container">
                          <div class="row">
                              <div class="wow bounceInDown" data-wow-delay="0.4s">
                                  <div class="section-heading">
                                      <h2>2018-2019</h2>
                                          <p>Recruitment for 2018-2019 is currently not yet open. <br/>
                                          Keep an eye out!</p>
                                          <hr class="marginbot-50">
                                          <p><img src = "img/full_team.jpg" style="width:90%"/></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </li>
        </ol>
    </div>
<!-- .events-content -->
</section>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>
<script src="js/carousel.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>
