---
layout: default
permalink: officers.html
---
<script>
$(".navbar-custom").css('background-color', '#272940');
</script>
<style>
ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}
</style>
<br>
<section class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    <li><a href="#0" data-date="01/09/2015">2015-2016</a></li>
                    <li><a href="#1" data-date="01/09/2016">2016-2017</a></li>
                    <li><a href="#2" data-date="01/09/2017" class="selected">2017-2018</a></li>
                    <li><a href="#3" data-date="01/09/2018">2018-2019</a></li>
                </ol>
                <span class="filling-line" aria-hidden="true"></span>
            </div>
            <!-- .events -->
        </div>
        <!-- .events-wrapper -->
        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul>
        <!-- .cd-timeline-navigation -->
    </div>
    <!-- </div> -->
    <!-- .timeline -->
    <div class="events-content">
        <ol>
          <li data-date="01/09/2015">
              <section id="officers" class="officer-section text-center">
                  <div class="heading-about">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-8 col-lg-offset-2">
                                  <div class="wow bounceInDown" data-wow-delay="0.4s">
                                      <div class="section-heading">
                                          <h2>2015-2016</h2>
                                          <p>These brave souls were the ACSU officers for 2015-2016.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-2 col-lg-offset-5">
                              <hr class="marginbot-50">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.2s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Luke Mehringer '17</h5>
                                          <p class="subtitle">'15-'16 President</p>
                                          <div class="avatar"><img src="img/team/board/LukeMehringer-17-President.jpeg" alt="" class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.5s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Eric Lin '17</h5>
                                          <p class="subtitle">'15-'16 Vice President</p>
                                          <div class="avatar"><img src="img/team/board/EricLin-17-VicePresident.jpg" alt="" class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.8s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Brandon Zhang '17</h5>
                                          <p class="subtitle">'15-'16 Treasurer</p>
                                          <div class="avatar"><img src="img/team/board/BrandonZhang-17-Treasurer.jpg" alt="" width=500 class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="1s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Nancy Ding '17</h5>
                                          <p class="subtitle">'15-'16 Corporate Chair</p>
                                          <div class="avatar"><img src="img/team/board/Nancy_Ding_17_CorporateDirector.jpg" alt="" class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="1s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Juhee Lee '17</h5>
                                          <p class="subtitle">'15-'16 Social Chair</p>
                                          <div class="avatar"><img src="img/team/board/JuheeLee_17_SocialDirector.jpg" alt="" class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.2s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Junia George '17</h5>
                                          <p class="subtitle">'15-'16 Social Chair</p>
                                          <div class="avatar"><img src="img/team/social/JuniaGeorge_17_SocialOfficer.jpg" alt="" height=50 class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="1s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Ji Hun Kim '17</h5>
                                          <p class="subtitle">'15-'16 Academic Chair</p>
                                          <div class="avatar"><img src="img/team/board/JiHunKim-17-AcademicChair.png" alt="" class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.2s">
                                  <div class="team boxed-grey">
                                      <div class="inner">
                                          <h5>Adi Bodas '17</h5>
                                          <p class="subtitle">'15-'16 Web Dev Chair</p>
                                          <div class="avatar"><img src="img/team/board/AdiBodas-17-WebDev.jpg" alt="" class="img-responsive img-circle" /></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </li>
          <li data-date="01/09/2016">
              <section id="officers" class="officer-section text-center">
                <div class="heading-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2>2016-2017</h2>
                                        <p>These brave souls were the ACSU officers for 2016-2017.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-2 col-lg-offset-5">
                              <hr class="marginbot-50">
                          </div>
                      </div>
                      <div class="container">
                       {% assign rows = site.data.officers1617.size | divided_by: 4.0 | ceil %}
                      {% for i in (1..rows) %}
                        {% assign offset = forloop.index0 | times: 4 %}
                        <div class="row">
                          {% for officer in site.data.officers1617 limit:4 offset:offset %}
                            <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.2s">
                                <div class="team boxed-grey">
                                  <div class="inner">
                                    <h5>{{ officer.name }} '{{ officer.year }}</h5>
                                    <p class="subtitle">{{ officer.position }}</p>
                                    <div class="avatar"><img src="img/team/{{ officer.img }}" alt="" width=500 class="img-responsive img-circle" alt="" width=500 class="img-responsive img-circle" /></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                        <br>
                      {% endfor %}
                    </div>
                  </div>
              </section>
          </li>
          <li class="selected" data-date="01/09/2017">
              <section id="officers" class="officer-section text-center">
                    <div class="heading-about">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-8 col-lg-offset-2">
                              <div class="wow bounceInDown" data-wow-delay="0.4s">
                                  <div class="section-heading">
                                      <h2>Current Officers</h2>
                                      <p>These brave souls are the ACSU officers for 2017-2018.
                                      <br/>Feel free to email or contact us through our <a href="https://www.facebook.com/CornellACSU/" target="_blank">Facebook</a> page.</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                          <div class="col-lg-2 col-lg-offset-5">
                              <hr class="marginbot-50">
                          </div>
                      </div>
                      <div class="container">
                      {% assign rows = site.data.officers1718.size | divided_by: 4.0 | ceil %}
                      {% for i in (1..rows) %}
                        {% assign offset = forloop.index0 | times: 4 %}
                        <div class="row">
                          {% for officer in site.data.officers1718 limit:4 offset:offset %}
                            <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="wow bounceInUp" data-wow-delay="0.2s">
                                <div class="team boxed-grey">
                                  <div class="inner">
                                    <h5>{{ officer.name }} '{{ officer.year }}</h5>
                                    <p class="subtitle">{{ officer.position }}</p>
                                    <div class="avatar"><img src="img/team/{{ officer.img }}" alt="" width=500 class="img-responsive img-circle" alt="" width=500 class="img-responsive img-circle" /></div>
                                    {% if officer.isBoard %}
                                    <a href="mailto:{{ officer.email }}"><img src="img/icons/email.png" onmouseover="this.src='img/icons/email-2.png'" onmouseout="this.src='img/icons/email.png'" width="38" alt="" /></a>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                        <br>
                      {% endfor %}
                    </div>
              </section>
          </li>
          <li data-date="01/09/2018">
              <section id="officers" class="officer-section text-center">
                  <div class="heading-about">
                      <div class="container">
                          <div class="row">
                              <div class="wow bounceInDown" data-wow-delay="0.4s">
                                  <div class="section-heading">
                                      <h2>2018-2019</h2>
                                          <p>Recruitment for 2018-2019 is currently not yet open. <br/>
                                          Keep an eye out!</p>
                                          <hr class="marginbot-50">
                                          <p><img src = "img/full_team.jpg" style="width:90%"/></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </li>
        </ol>
    </div>
<!-- .events-content -->
</section>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>
<script src="js/carousel.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>
